<div class="center hero-unit">
	<h1>Bem Vindo ao Sistema de Reservas</h1>
	<h2>Página Inicial do Sistema de Reservas</h2>

	<%= link_to "Acesse agora!", '#', class: "btn btn-large btn-primary" %>
</div>





