<footer class="footer">
	<small>
		<a href="http://www.saulofalcao.com.br">Saulo Falcão</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Sobre", '#' %></li>
			<li><%= link_to "Contato", '#' %></li>
		</ul>
		
	</nav>
	
</footer>
<% debug(params) if Rails.env.development?  %>